main {
    background-color : #e0dbdb;
    width: 100%;
}
#lignesncf {
  background-color: coral;
  height: auto;
  width: 100%;
}
#actu {
    background-color : chartreuse;
    height: auto;
    width: 100%;
    animation-name: info;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes info{
    0%{opacity: 0;}
    10%{opacity: 1;}
    50%{opacity: 1;}
    60%{opacity: 0;}
    100%{opacity: 0;}
}

.nav {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    text-align: center;
}
header {
    background-color: blue($color: #4789df);
}
.numligne {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ligneHor {
   margin-right: 5px;
   padding: 4px;
   font-size: 2vh;
}
#mapid {
     height: 180px;
}
#tabfavoris {
    display: none;
}
.fleche {
    border:       solid black;
    border-width: 0 .1em .1em 0;
    display:      inline-block;
    padding:      .2em;
}
.classe-btns-fleche {
    position : relative;
    display: flex;
    flex-flow: wrap;
}
.classe-btns-favoris {
    position : relative;
    display: flex;
    flex-flow: wrap;
}
// #bntPrec, #bntSuiv, #bntSens, #
.container {
    // position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 250vh;
    button {
        position: relative;
        padding: 6px;
        margin-left: 3px;
        width : 90px;
   }
}
img {
    width: 50px;
    height: 50px;
}
